@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS переменные для Telegram */
:root {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-hint-color: #999999;
  --tg-theme-button-color: #3390ec;
  --tg-theme-button-text-color: #ffffff;
}
